<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.FactoryMapper">

    <select id="selectLatestTemperature" resultType="double">
        SELECT temperature
        FROM environment_data ORDER BY timestamp DESC
        LIMIT 1
    </select>

    <select id="selectLatestHumidity" resultType="double">
        SELECT humidity
        FROM environment_data ORDER BY timestamp DESC
        LIMIT 1
    </select>

</mapper>