<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PowerMapper">

    <select id="selectTotalPowerConsumptionByDateAndPmId" resultType="double">
        SELECT COALESCE(SUM(power_consumption), 0)
        FROM power_data
        WHERE DATE(timestamp) = CURDATE() AND pm_id = #{pmId};
    </select>

</mapper>