<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductionMapper">

    <!-- 생산 실적 데이터 삽입 -->
    <insert id="insertProductionData" parameterType="com.example.demo.model.ProductionData">
        <![CDATA[
        INSERT INTO production_data (
            timestamp,
            pm_id,
            completed_quantity,
            quality_grade
        ) VALUES (
            #{timestamp},
            #{pmId},
            #{completedQuantity},
            #{qualityGrade}
        )
        ]]>
    </insert>

    <select id="selectAllProductionRecords" resultType="com.example.demo.model.ProductionData">
        <![CDATA[
        SELECT
            id,
            timestamp,
            pm_id,
            completed_quantity,
            quality_grade
        FROM
            production_data
        WHERE
            pm_id = #{pmId}
        ORDER BY
            timestamp ASC
        ]]>
    </select>

</mapper>